.card
{
    border-radius: 20px;
    background:#263143;
   
 
}
.card-img
{
    text-align: center;   
}
.location
{
   text-align: center;
   color: white;
   font-size: 1.2em;
}
.temperature
{
    text-align: center;
    color: white;
    font-size: 4em;
    font-weight: 900;
}
h5
{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 19px;
    padding-top:  20px;
  
}
.form-control
{
    border: none;
    border-radius: 24px;
}
.fa-solid 
{
   color:rgba(62, 45, 143, 1);
}
.text
{
    padding-top: 20px;
}
.info
{
    color: white;
    font-family: "Titillium Web", sans-serif;
   font-weight: 200;
   font-size: 18px;
   font-style: normal;
   padding-top: 10px;
}
.col
{
    text-align: center;   
}