<div class="col-md-6">
    <div class="card">
      <div class="text-center">
        <h1>Sign Up</h1>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
          <input  formControlName="mobile"type="number" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email Address</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailhelp">
        <div id="emailhelp" class="form-text">we never share your  email</div>
        <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">*Email is required</span>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
          <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*password is required</span>
        
        </div>
        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary mb-2" >Signin</button>
    
      </form>
      <a style="color: white; margin-top: 10px;" routerLink="/login">Existing User ?</a>
    </div>
  </div>