<div class="text-center">
<h1>About us</h1>

</div>
<div class="card">
    <div class="card-header">
     
   
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Medi-tech(psychon) is wonderful site which  is designed and developed for medical purpose. This site includes and fulfill  all medical need for the user(people). It have a ML  chat which can clear the basic needs and simple medical issues. The Mapping system can be used by the user, so that they can get to know the govt  assurances of the medical need of the user is fulfilled or not.  For emergencies purpose and critical stage of patient, immediate doctor consultation will be given through chat or call. Here we provide a option to the people, where they can get to know the availability of doctor and fix the surgery details.
            The main reasons behind development of this website ,is to develop the medical system in the state and the country. Here people can get know the funds which is provide for medical and Hospitality by the Government. Basic ideology is interconnection of the medicals and there system which is pre-defined by the government. Main purpose of this site , Our Indian Government & Tamil Nadu Government  spend many Crores, sample 
            </p>
        <footer class="blockquote-footer">TEAM <cite title="Source Title">MEDI-TECH</cite></footer>
      </blockquote>
      <table  class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Indicators</th>
            <th scope="col">2017-18(in Rs Crores)</th>
            <th scope="col">2018-19(in Rs Crores)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Gross Domestic Product (GDP)</th>
            <td>1,70,90,042</td>
            <td>1,88,99,668</td>

          </tr>
          <tr>
            <th scope="row">General Government Expenditure(GGE)</th>
            <td>45,15,956</td>
            <td>50,40,707</td>
          </tr>
          <tr>
            <th scope="row">Total Health Expenditure</th>
            <td>5,66,644</td>
            <td>5,96,440</td>
            
          </tr>
          <tr>
            <th scope="row">Government Health Expenditure</th>
            <td >2,31,104</td>
            <td>2,42,219</td>
            
          </tr>
        </tbody>
      </table>
      <p>So, This should be utilized by all the citizen of India</p>
    </div>
</div>

  </div>
