<!-- google-maps-demo.component.html -->
<div class="navbars fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" >Medi-tech</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/about">Services</a>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Contact
                </a>
                <ul class="dropdown-menu dropdown-menu-success" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="mailto:Gunalgunal142@gmail.com">Email</a></li>
                  <li><a class="dropdown-item" hred="tel:+917904597994">Phone</a></li>
                     <li><a class="dropdown-item" href="https://wa.me/+917904597994?text=hi..."_blank >Whatsapp</a></li>
                  <li><a class="dropdown-item" routerLink="/about">About us</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <div class="input-group">
                    <input type="search" placeholder="search" id="form1" class="form-control" />
                  <button type="button" class="btn btn-secondary">
                    <i class="fab fa-google"></i>
                  </button>
                </div>
              </li>
            </ul>
            <form class="d-flex">
           
              <button class="btn btn-outline-danger" type="submit">logout</button>
            </form>
          </div>
        </div>
      </nav>
      </div>
<br>
<br>
<br>

<div class="row d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-md-6">
<google-map
             height="400px"
            width="500px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
</div>
</div>